/* LandingPage.css */

/* General Styles */

.landing-page {
  margin: 0 auto;
  padding: 20px 0px;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.hero {
  padding: 0px 160px;
}

.hero-title {
  font-weight: bold;
  font-size: 80px;
}

.hero-desc {
  position: relative;
  font-size: 30px;
  width: 120%;
  z-index: 10;
}

.hero-img-container {
  width: 100%;
  background-color: #202938;
  height: 800px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-right: -160px;
}

.cta-button {
  padding: 15px 30px;
  background-color: #ffffff;
  border: none;
  color: #111828;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
}

.cta-button:hover {
  background-color: #e8e7e7;
}

/* Features Section */
.features {
  padding: 60px 160px;
  text-align: center;
  margin-bottom: 60px;
}

.feature-title {
  font-weight: bold;
  font-size: 60px;
  padding: 60px 0px;
}

.feature-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  text-align: left;
}

.feature-item {
  flex: 1;
  padding: 40px;
  background-color: #202938;
  border-radius: 10px;
}

.feature-header {
  font-size: 34px;
  font-weight: bold;
}

.feature-desc {
  font-size: 20px;
}

.feature-item img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

/* How It Works Section */
.how-it-works {
  padding: 60px 160px;
  background-color: #202938;
  border-radius: 10px;
}

.how-it-works-title {
  font-weight: bold;
  font-size: 60px;
  padding: 60px 0px;
  text-align: center;
}

.steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.step {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step_icon_container {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #384152;
}

/* Testimonials Section */
.testimonials {
  padding: 60px 160px;
}

.testimonials-titles {
  font-weight: bold;
  font-size: 60px;
  padding: 60px 0px;
  text-align: center;
}

.testimonials-container {
  gap: 40px;
  display: flex;
}

.testimonial {
  margin: 20px auto;
  background-color: #202938;
  padding: 40px;
  border-radius: 10px;
  /* font-style: italic; */
}

.testimonial-user-container {
  display: flex;
  gap: 20px;
}
.testimonial-user-title {
  font-weight: bold;
  font-size: 24px;
}
.testimonial-user-tag {
  font-size: 18px;
  color: #979fae;
}
.testimonial-user-review {
  font-size: 20px;
  color: #d1dfeb;
  line-height: 30px;
}

.testimonial-user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

/* Showcase Section */
.showcase {
  padding: 60px 20px;
  text-align: center;
}

.showcase-images img {
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  margin: 20px;
}

/* Call to Action Section */
.call-to-action {
  padding: 60px 20px;
  text-align: center;
  background-color: #00bcd4;
  color: #ffffff;
  border-radius: 10px;
}

/* Footer Section */
.footer {
  padding: 40px 20px;
  background-color: #1f1f1f;
  text-align: center;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #00bcd4;
}

.social-media img {
  width: 30px;
  margin: 0 10px;
}

.contact-info {
  margin-top: 20px;
  color: #aaaaaa;
}

#how-it-works h2 {
  text-align: center;
  padding-bottom: 16px;
}
